#mainHeading{
    font-size: 3rem;
    background-color: yellow;
    border: 12px solid black;
    box-shadow: 10px 10px 10px yellow;
    text-align: center;
}
.cabinet{
    width: 250px;
    height: 250px;
    border: 10px solid red;
}

#chandraBabuDescription{
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#pawanKalyanDescription{
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}
#anithaDescription{
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}
#atchanNaiduDescription{
    font-size: 1.5rem;
    font-family: fantasy;
}
#manoharDescription{
    font-size: 1.5rem;
    font-family: cursive;
}